<!--
  Generated template for the CreateOrderAddMaterialPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>สร้างรายการจัดซื้อ</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        
        <ion-card>

          <ion-card-header>
            สร้างรายการ
          </ion-card-header>
        
          <ion-card-content class="add-material-style">
          <ion-list>
            <ion-item>
              <ion-label>ชนิดยาเส้น</ion-label>
              <ion-select [(ngModel)]="productSel" (ionChange)="onProductTypeChange($event)" placeholder="เลือกชนิดยาเส้น">
                <ion-option *ngFor="let item of producTypeObj" [value]="item.PRODUCT_TYPE_ID">{{item.PRODUCT_TYPE_NAME}}</ion-option>
              </ion-select>
            </ion-item>

            
            <ion-item>
                <ion-label>เบอร์ยาเส้น</ion-label>
                <ion-select [disabled]="!isGetData" (ionChange)="onProductSizeChange($event)" [(ngModel)]="productSizeSel" placeholder="เลือกเบอร์ยาเส้น">
                  <ion-option *ngFor="let item of producSizeObj" [value]="item.PRODUCT_SIZE_ID">{{item.PRODUCT_SIZE_NAME}}</ion-option>
                </ion-select>
             
              </ion-item>

              <ion-item >
                  <ion-label>จำนวนถุง</ion-label>
                  <ion-input class="input-text-alight-right" (keyup)="onQtyChange()" type="number" pattern="[0-9]*" [(ngModel)]="qty" placeholder="0"></ion-input>
                </ion-item>

                <ion-item >
                  <ion-label>น้ำหนัก/กิโลกรัม</ion-label>
                  <ion-input class="input-text-alight-right" [(ngModel)]="weight" type="text" [disabled]="true" placeholder="0" value="0">0</ion-input>
                </ion-item>
                <ion-item >
                  <ion-label>ราคา/ถุง</ion-label>
                  <ion-input class="input-text-alight-right" [(ngModel)]="price" type="text" [disabled]="true" value="0">0</ion-input>
                </ion-item>

                <ion-row justify-content-center>
                  <!-- <ion-col col-6>
                      <button ion-button block color="light">ยกเลิกการทำรายการ</button>
                  </ion-col> -->
                  <ion-col col-6>
                      <button  *ngIf="!isEdit"  ion-button block [disabled]="!canAdd" on-click="addItem()">เพิ่มรายการ</button>
                      <button  *ngIf="isEdit" ion-button block [disabled]="!canAdd" on-click="editItem()">แก้ไขรายการ</button>
                  </ion-col>

                  
                </ion-row> 

      
          
          </ion-list>
          </ion-card-content>
        
        </ion-card>

      </ion-col>
      <ion-col col-6>
        
        <ion-card>

          <ion-card-header>
            รายการซื้อ {{displayUserData.fullname}}
          </ion-card-header>
        
          <ion-card-content>
            
            <ion-list  *ngFor="let item of arrayAdded; index as i;" >
              <ion-item-sliding>
                <ion-item  >
                  <h2>{{getProductTypeName(item.productType)}}</h2>
                  <h3>{{getProductSizeName(item.productSize)}}</h3>

                  <p item-end style="text-align:right;">{{item.weight}} กิโลกรัม<br>{{item.qty}} ถุง<br>{{item.price}} บาท</p>
   
                
                </ion-item>
       
                <ion-item-options side="right">

                    <button  ion-button on-click="editList(i)" color="info">
                        <ion-icon name="ios-build-outline"></ion-icon>
                      </button>
                  <button   ion-button on-click="removeList(i)" color="danger">
                    <ion-icon name="ios-remove-circle-outline"></ion-icon>
                  </button>
          
                </ion-item-options>
              </ion-item-sliding>
            </ion-list>


          </ion-card-content>


          <ion-item>
              <span item-left>จำนวนรวม : {{sumWeight}} <br> จำนวนถุงรวม : {{sumQty}}</span>
              <span  item-end>
                ราคารวม : {{sumPrice}}
              </span>
            </ion-item>

        
        </ion-card>

      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col col-12>
            <button  ion-button block [disabled]="arrayAdded.length == 0" on-click="showPrompt()">เสร็จสิ้นการทำรายการ</button>
           
        </ion-col>
    </ion-row>
    
   
  </ion-grid>

</ion-content>
